:root {
    --primary: #1cb153; 
}

.navbar {
    width: 100%;
    background-color: rgb(18, 16, 16);
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 0.8rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar h3{
    font-size: 1.3rem;
    color:var(--primary);
    text-transform: uppercase;
}

.navlinks {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks ul {
    display: flex;
    gap: 1.2rem;
}

.navlinks ul li {
    list-style: none;
}

.navlinks ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    padding: 0.5rem;
}

.navlinks ul li a.active{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    color: black;
    font-weight: 600;
}

.search{
    display: flex;
}

.search input{
    width: 270px;
    height: 3rem;
    border: 0;
    padding: 0rem 1rem;
    color: white;
    font-size: 1.1rem;
    background-color: #1f2937;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.search input::placeholder{
    font-size: 1rem;
}

.search input:focus{
    outline: none;
}

.search a{
    text-decoration: none;
    color: white;
    width: 3.5rem;
    background-color: var(--primary);
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}

.searchIcon{
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    font-size: 2.2rem;
    display: none;
    cursor: pointer;
}


@media(max-width:800px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .navlinks ul{
        flex-direction: column;
    }

    .on {
        display: flex;
    }

    .search {
        width: 100%;
        margin: 0 auto;
    }

    .search input{
        width: 100%;
    }

    .searchIcon{
        display: flex;
    }
}